@import "reset.css";

body {
    background: #f6f9fc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.canvas {
    width: 650px;
    height: 650px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
}

.controls {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls__btns{
    margin-bottom: 30px;
}

.controls__btns button {
    all:unset;
    cursor: pointer;
    background: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
}

/* 버튼 클릭시 사이즈 */
.controls__btns button:active {
    transform: scale(0.98); 
}

.controls .controls__colors {
    display: flex;
}

.controls__colors .controls__color {
    margin: 0 2px;
    width: 50px;
    height: 50px;
    border-radius: 25px; /* width / 2 만큼 주면 동그라미 */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
}

/* input range */
.controls .controls__range{
    margin-bottom: 20px;
}


@media (min-width:480px) and (max-width:700px){
    body {
        padding: 40px 0;
    }
    .canvas {
        width: 450px;
        height: 450px;
        border-radius: 20px;
    }
    
    .controls {
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
    .controls .controls__range {
        margin: 5px;
    }
    .controls .controls__btns{
        width: 100%;
        margin: 20px;
    }
    .controls__btns button {
        width: 60px;
        border-radius: 10px;
        box-shadow: 0 6px 7px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
        border: 1px solid rgba(0, 0, 0, 0.15);
        font-weight: 700;
        font-size: 14px;
    }
    .controls__btns button:active {
        transform: scale(1.1); 
    }
    .controls__colors .controls__color {
        width: 38px;
        height: 38px;
        margin: 0 2px;
        border-radius: 25px; /* width / 2 만큼 주면 동그라미 */
        cursor: pointer;
        box-shadow: 2px 5px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(50, 50, 93, 0.11);
    }
}
